#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  width: 1440px;
  height: 1024px;
  background: radial-gradient(74.17% 176.54% at 45.21% 38.43%, #2F5566 6.02%, #387876 35.02%, #3F9182 55.69%, #D59D8C 81.56%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
